@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
    margin: 0;
    padding: 0;

 }

 .text-color{
     color:antiquewhite
 }
 .Mont{
     font-family: "Montserrat", sans-serif;
 }
 .sans{
    font-family: sans-serif;
 }
 .container-nav{
     background-color: gray;
     position: fixed;
 }
body {
    background-color: blue;
  }
.container-intro{
    background: url(images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.profile-image{
    width: 205px;
    height: 205px;
    background-color:#505050;
    border-radius: 50%;
    position: absolute;
    top: 155px;
    left: 800px;
}
#profileImage{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 1% 5% 1% 1%;
}
.intro{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 80px;
    color: #E6E6FA;
    text-shadow: 2px 2px #505050;
}
.intro h1{
    font-size: 60px;
}
.intro2{
    display:inline;
}
.intro h2{
    font-size: 40px;
}
.intro h3{
    font-style: italic; 
    font-size: 45px;
    
}


.container-expert{
    background-color: #666666;  
    padding-top: 40px;
    padding-bottom: 250px;
}

.expert-heading{
    font-size: 25px;
    text-align: center;
}
.row{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 450px;
    position: absolute;
    top: 627px;
    left: 450px;
    text-align: center;
    color: #E6E6FA;
}
.exp_img{
    width: 64px;
    height: 64px;
}
.Skill{
    width: 225px;
}
.Web{
    width: 225px;
}
.exp_txt{
    font-size: large;
    padding: 5px 0px 5px 0px;
}
@media (min-width:766px) and (max-width: 1250px) and (min-height: 560px) {
    .container-intro{
        background-size: 1024px 1366px;
        height: 1366px;
        width: 1024px;
    }
    .intro{
        position: absolute;
        top: 400px;
        left: 40px;
    }
    .profile-image{
        top: 500px;
        left: 650px;
        width: 305px;
        height: 305px;
    }
    #profileImage{
        width: 300px;
        height: 300px;
    }
    .container-expert{
        width: 1024px;
        padding-bottom: 280px;
    }
    .row{
        position: absolute;
        top: 1463px;
        left: 273px;
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}
@media (min-width:280px) and (max-width: 550px) and (min-height: 560px) {
    .container-intro{
        background-size: 550px 823px;
        height: 823px;
        width: 550px;
    }
    .intro{
        position: absolute;
        top: 400px;
        left: 15px;
        padding: 38px 47px 0px 24px;

    }
    .intro h1{
        font-size: 50px;
        margin: 0px 0px -8px 0px;
    }
   .intro h2{
    font-size: 30px;
   }
    .intro h3{
    font-style: italic; 
    font-size: 35px;
    }
    .profile-image{
        top: 31%;
        left: 26%;
    }
    .container-expert{
        width: 550px;
        padding-bottom: 510px;
    }
    .row{
        position: absolute;
        top: 930px;
        left: 156px;
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .Web{
        margin-top: 20px;
    }
    
}

/*.info{
    text-align: center;
    color: #292F33;
    padding: 30px;
    font-size: large;
}
 .info p{
    font-family: 'Sofia';
}*/
